@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja internetowa ASP .NET MVC</h1>
    <p>Jakub Iłowski</p>
    <p>Grupa ćwiczeniowa/laboratoryjna: INMN3_PA1.1</p>
</div>
